name: Build and Push Backend

on:
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+' # Launched on tag creation

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: ./js/express
          push: true
          tags: ${{ secrets.DOCKER_HUB_USERNAME }}/pi3-test-express:${{ github.ref_name }}
